// colors
$color-blue: blue;
$color-silver: silver;
$color-red: red;
$color-lime: lime;
$color-yellow: yellow;
$color-black: black;
$color-white: white;
$color-aqua: aqua;
$color-green: green;
$color-orange: orange;
$color-gray: gray;
$color-pink: pink;
$color-deeppink: deeppink;
$color-blueviolet: blueviolet;
$color-springgreen: springgreen;

// app colors
$color-primary: $color-blue;
$color-secondary: $color-silver;
$color-danger: $color-red;
$color-success: $color-lime;
$color-info: $color-aqua;
$color-warning: $color-orange;
$color-dark: $color-black;
$color-light: $color-white;
