// colors
$color-blue: blue;
$color-silver: silver;
$color-red: red;
$color-lime: lime;
$color-yellow: yellow;
$color-black: black;
$color-white: white;
$color-aqua: aqua;
$color-green: green;
$color-orange: orange;
$color-gray: gray;
$color-pink: pink;
$color-deeppink: deeppink;
$color-blueviolet: blueviolet;
